<template>
  <div class="GMap">
    <div ref="map" class="GMap__Wrapper"></div>
    <slot/>
  </div>
</template>

<script>
import GoogleMapsApiLoader from 'google-maps-api-loader'
var MarkerClusterer = require('node-js-marker-clusterer');
export default {
  props: {
    options: {
      type: Object,
      default: () =>{
        return {}
      }
    },
    zoom: {
      type: Number,
      default: 10
    },
    cluster: {
      type: Object,
      default: () =>{
        return {}
      }
    },
    center: {
      type: Object,
      default: () => {
        return {
          lat: 45.8150,
          lng: 15.9819
        }
      }
    }
  },

  data(){
    return{
      map: null,
      google: null,
      markerCluster: null,
      markers: [],
      events: [
        'bounds_changed',
        'center_changed',
        'click',
        'dblclick',
        'drag',
        'dragend',
        'dragstart',
        'heading_changed',
        'idle',
        'maptypeid_changed',
        'mousemove',
        'mouseout',
        'mouseover',
        'projection_changed',
        'resize',
        'rightclick',
        'tilesloaded',
        'tilt_changed',
        'zoom_changed',
      ]
    }
  },

	async mounted(){
    /* this.$GMaps.loaded = false;

    if(this.$GMaps.loaded === false){
      this.$GMaps.loaded = true;
      try{
        let GMapSettings = {
          apiKey: this.$GMaps.apiKey
        }

        if(this.$GMaps.libraries !== undefined){
          GMapSettings['libraries'] = this.$GMaps.libraries
        }

        const google = GoogleMapsApiLoader(GMapSettings)
        this.$GMaps.google = google;
      } catch(e){
      }
    }
    */

    this.google = await window.google;
    this.initMap();
    // this.$emit('init', this.google);
    // this.$emit('loaded', this.google);
  },

  /* beforeDestroy(){
    this.$GMaps.loaded = false;
  }, */

  methods: {
    initMap(){
      this.map = new google.maps.Map(this.$refs.map, {
        center: this.center,
        zoom: this.zoom,
        ...this.options
      });

      this.$children.forEach(child =>{
        child.initMarker();
      });

      this.map['markers'] = this.markers;

      if(Object.keys(this.cluster).length > 0){
        this.markerCluster = new MarkerClusterer(this.map, this.markers, {...this.cluster.options});
      }

      this.events.forEach(event =>{
        this.map.addListener(event, (e) =>{
          this.$emit(event, {map: this.map, event: e})
        });
      })
    }
  }
}
</script>

<style>
	.GMap__Wrapper{
    width: 100%;
    height: 400px;
  }
</style>
